* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul, li, menu {
    list-style: none;
}

section {
    height: 100vh;
    margin: 0 auto;
    
}

.col {
    width: 254px;
    height: 146px;
    border: 1px solid black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

